.background {
  background: center no-repeat url("https://github.com/pradeep75mkp/chromeCastCSS/blob/main/background.png");
}

.logo {
  background-image: url("https://github.com/pradeep75mkp/chromeCastCSS/blob/main/logo.png");
}

.progressBar {
  background-color: rgb(20, 52, 173);
}

.splash {
  background-image: url("https://github.com/pradeep75mkp/chromeCastCSS/blob/main/splash.png");
}

.watermark {
  background-image: url("https://github.com/pradeep75mkp/chromeCastCSS/blob/main/watermark.png");
  background-size: 57px 57px;
}